.DS_Store
.idea/
node_modules/
coverage/
scratch/
npm-debug.log
boilerplates/component-plate/.git/
boilerplates/component-plate/.DS_Store
boilerplates/component-plate/.idea/
boilerplates/component-plate/node_modules/
boilerplates/component-plate/npm-debug.log
boilerplates/component-plate/selenium-debug.log
boilerplates/component-plate/test/unit/coverage
boilerplates/component-plate/test/e2e/reports
boilerplates/component-plate/coverage/
boilerplates/vue-plate/.git/
boilerplates/vue-plate/.DS_Store
boilerplates/vue-plate/.idea/
boilerplates/vue-plate/node_modules/
boilerplates/vue-plate/dist/
boilerplates/vue-plate/vm/
boilerplates/vue-plate/npm-debug.log
boilerplates/vue-plate/selenium-debug.log
boilerplates/vue-plate/test/unit/coverage
boilerplates/vue-plate/test/e2e/reports
boilerplates/react-plate/.git/
boilerplates/react-plate/.DS_Store
boilerplates/react-plate/.idea/
boilerplates/react-plate/node_modules/
boilerplates/react-plate/dist/
boilerplates/react-plate/vm/
boilerplates/react-plate/coverage/
boilerplates/react-plate/npm-debug.log
boilerplates/react-plate/selenium-debug.log
