.git/
.DS_Store
.idea/
node_modules/
npm-debug.log
selenium-debug.log
test/unit/coverage
test/e2e/reports
coverage/
boilerplates/component/.git/
boilerplates/component/.DS_Store
boilerplates/component/.idea/
boilerplates/component/node_modules/
boilerplates/component/npm-debug.log
boilerplates/component/selenium-debug.log
boilerplates/component/test/unit/coverage
boilerplates/component/test/e2e/reports
boilerplates/component/coverage/
boilerplates/vue/.git/
boilerplates/vue/.DS_Store
boilerplates/vue/.idea/
boilerplates/vue/node_modules/
boilerplates/vue/dist/
boilerplates/vue/vm/
boilerplates/vue/npm-debug.log
boilerplates/vue/selenium-debug.log
boilerplates/vue/test/unit/coverage
boilerplates/vue/test/e2e/reports
