{
  "extends": "stylelint-config-standard",
  "plugins": ["stylelint-scss"],
  "processors": ["stylelint-processor-html"],
  "rules": {
    "no-eol-whitespace": null,
    "no-invalid-double-slash-comments": null,
    "no-empty-source": null
  }
}
