/* base */
.container {
  width: 1200px;
  margin: 0 auto;
}

.show { display: block !important; }
.hide { display: none !important; }

.clearFix::after {
  content: '';
  display: block;
  height: 0;
  clear: both;
  overflow: hidden;
  visibility: hidden;
}
.clearFix { *zoom: 1; }
