/* variables */

// Color
$blue-base: #0ae;
$blue-lighten-1: #43bdfa;
$blue-lighten-2: #4acbff;
$gray-base: #3e4757;
$gray-lighten-1: #4a5568;
$gray-lighten-2: #414b5c;
$gray-lighten-3: #dbdbdb;
$gray-lighten-4: #ddd;

// Background
$background-base: #f7f7f7;
$background-darken-1: #f5f5f5;
$background-darken-2: #f1f1f1;
$background-darken-3: #eee;

// Options
// Spacing
// Body
// Grid

// Line
$line-base: #f1f1f1;
$line-darken-1: #e8e8e8;
$line-darken-2: #c3c3c3;

// Fonts
$font-family: Helvetica Neue, Helvetica, PingFang SC, Hiragino Sans GB, Microsoft YaHei, \\5FAE\8F6F\96C5\9ED1, Arial, sans-serif;
$font-black-base: #000;
$font-black-lighten-1: #333;
$font-black-lighten-2: #444;
$font-black-lighten-3: #555;
$font-black-lighten-4: #595c64;
$font-black-lighten-5: #666;
$font-black-lighten-6: #7f8d9d;
$font-black-lighten-7: #999;

// Link
// Table
// Form
// Components
